.table
  .table-row
    .table-cell.sidebar
      %h2
        %br
        Adopt a Drain
      %h5

      %p.alert-message.block-message#tagline
        = t("defaults.tagline")
      #content
        = render :partial => "sidebar/combo_form"
      #logos
        %a{:href => "http://engageriverside.com/"}
          = image_tag "https://riversideca.gov/images/2012/cor-logo-30x30.png", :width => '30px', :alt => t("sponsors.cfa"), :title => t("sponsors.cfa")
    .table-cell#map
      &nbsp;
